<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!id">Tambah Pegawai</ion-title>
    <ion-title *ngIf="id">Edit Pegawai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <ion-card class="ion-padding-bottom">
      <ion-card-content class="ion-no-padding ion-padding-top">

        <ion-item lines="none">
          <ion-label position="stacked">Nama Pegawai :</ion-label>
          <ion-input type="text" formControlName="nama" placeholder="Nama Pegawai" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nama').hasError('required')">
            Silahkan isi Nama Pegawai.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Nik :</ion-label>
          <ion-input type="number" formControlName="nik" placeholder="Nik" required></ion-input>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('nik').hasError('required')">
            Silahkan isi Nik.
          </ion-chip>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Jenis Kelamin</ion-label>
          <ion-select formControlName="jk" placeholder="jenis Kelamin" required>
            <ion-select-option value="Laki-laki">Laki-laki</ion-select-option>
            <ion-select-option value="Perempuan">Perempuan</ion-select-option>
          </ion-select>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('jk').hasError('required')">
            Silahkan pilih Jenis Kelamin.
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tgl. Lahir</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" formControlName="tgl_lahir" placeholder="Tgl. Lahir" required></ion-datetime>
          <ion-chip color="danger" *ngIf="isSubmitted && myForm.get('tgl_lahir').hasError('required')">
            Silahkan set tanggal lahir.
          </ion-chip>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <div class="ion-margin">
      <ion-button *ngIf="!id" class="ion-padding btn_submit" type="submit">Simpan</ion-button>
      <ion-button *ngIf="id" class="ion-padding btn_submit" type="submit">Update</ion-button>
    </div>
  </form>

  <ion-button *ngIf="id" class="ion-padding btn_submit" color="danger" fill="clear" (click)="hapus()">Hapus</ion-button>

  <br><br>

</ion-content>