<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Data Pegawai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background:#eee" fullscreen>

  <ion-searchbar class="ion-no-padding ion-margin-bottom" animated debounce="500" placeholder="Cari Pegawai"
    (ionChange)="ionViewDidEnter($event.target.value)"></ion-searchbar>

  <ion-list>
    <ion-item class="ion-no-padding" *ngFor="let db of data" detail="true" [routerLink]="['/pegawai-detail', db.id]"
      lines="none" style="border-radius:0;border-top:1px solid #ddd;">
      <ion-label class="ion-padding-horizontal">
        <ion-grid>
          <ion-row>
            <ion-col>Nama</ion-col>
            <ion-col>: {{db.nama}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Nik</ion-col>
            <ion-col>: {{db.nik}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>JK</ion-col>
            <ion-col>: {{db.jk}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Tgl. lahir</ion-col>
            <ion-col>: {{db.tgl_lahir}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-padding ion-no-border ion-text-center">
  <ion-button [routerLink]="['/pegawai-detail','']">Tambah Pegawai</ion-button>
</ion-footer>